@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

#app {
  padding: 2rem;
  margin: auto;
}

body {
  align-items: center;
  justify-content: center;
  min-height: 200vh;
}

.logo {
  width: 157px;
  height: 49px;
  margin-left: 120px;
}

#header {
  font-family: "Inter";
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  font-weight: 500;
  font-size: 24px;
}

ul {
  display: flex;
  gap: 91px;
  margin-top: 8px;
  margin-right: 40px;
  background-color: #fff;
}

nav {
  display: flex;
  gap: 15rem;
}

nav ul.active {
  left: 0;
}

#ham-menu {
  display: none;
}

.menu-mobile img {
  display: none;
}

.login-btn {
  width: 230px;
  height: 44px;
  font-weight: 600;
  font-size: 24px;
  outline: 0;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #da2535;
  color: white;
  transition-duration: 0.5s;
}

ul {
  list-style: none;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #292929;
}

#hero {
  padding-top: 250px;
  padding-left: 280px;
  position: relative;
}

.hero-container {
  margin: auto;
}

#hero h1 {
  width: 405px;
  height: 59px;

  font-family: "Montserrat";
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 30px;
}

#hero p {
  width: 520px;
  height: 114px;
  left: 346px;
  top: 387px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 30px;
}

#hero button {
  padding: 10px 40px;
  gap: 10px;
  background: #da2535;
  border-radius: 10px;
  color: white;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;

  width: 292px;
  height: 60px;
  left: 346px;
  top: 549px;
}

.hero-image img {
  margin-top: -400px;
  margin-left: 55rem;
}

#recipe-dish {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
  padding-top: 300px;
  padding-left: 265px;
}

.img-dish {
  border-radius: 16px;
  width: 604px;
  height: 500px;
}

.recipe-text {
  margin-top: 0px;
  margin-right: 270px;
}

#recipe-dish h1 {
  width: 405px;
  height: 59px;

  font-family: "Montserrat";
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 80px;
}

#recipe-dish p {
  width: 520px;
  height: 114px;
  left: 346px;
  top: 387px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 30px;
}

#recipe-dish a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;

  color: #da2535;
}

#popular-dishes {
  text-align: center;
  margin: 0 auto;
}

.popular-dishes-text h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-top: 130px;
}

img .card-dish {
  display: block;
  max-width: 100%;
}

.cards {
  display: flex;
  gap: 44px;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  margin-right: 10px;
}

.card {
  width: 330px;
  min-height: 400px;
  background: #f3f3f3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 32px;
  padding-inline: 10px;
  padding: 40px;
}

.card-img {
  align-self: center;
  max-width: 300px;
  height: 200px;
  position: absolute;
  top: -80px;
}

.dish-name,
.dish-price {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #292929;
  text-align: center;
}

.dish-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  margin: 24px 0px;
  color: #616161;
  text-align: center;
}

#reviews {
  margin-left: 260px;
}

.reviews-text h1 {
  align-items: center;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 60px;

  width: 318px;
  height: 59px;
  left: 346px;
  top: 2195px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 123%;

  color: #292929;
}

.all-reviews {
  display: flex;
  gap: 30px;
}

.first-review-bg,
.second-review-bg {
  background: #f3f3f3;
  border-radius: 16px;
}

.first-review,
.second-review {
  align-items: center;
  padding: 70px 118px 70px 60px;
}

.first-review h2,
.second-review h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 123%;
  margin-top: 24px;

  color: #292929;
}

.first-review p,
.second-review p {
  width: 455px;
  height: 76px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #616161;
  margin: 16px 0px 16px 0px;
}

#location {
  margin: 60px 50px 0px 265px;
}

#location h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 123%;
  margin-bottom: 48px;

  color: #292929;
}

#location .search-local {
  margin-left: 50px;
}

.location-map {
  border-radius: 16px;
  width: 1285px;
  margin-bottom: 56px;
}

.search-local {
  width: 100%;
  max-width: 70rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding-left: 2rem;
  background: #fbfbfb;
  border-radius: 1rem;
  min-height: 3rem;
  height: auto;
  border: 0.1rem solid #292929;
  border-right: none;
}

/* ICON */
.icon {
  color: #da2535;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon:hover {
  animation: funny-icon 0.4s ease-in-out;
}

@keyframes funny-icon {
  0% {
    scale: 1;
  }

  50% {
    scale: 0.8;
    transform-origin: bottom;
    transform: rotate(-15deg);
  }

  100% {
    scale: 1;
  }
}

.search-local input {
  width: 620px;
  height: 60px;
  flex: 1 1 25rem;
  background: #fbfbfb;
  display: flex;
  outline: none;
  border: none;
  color: #292929;
  font-size: 2.4rem;
}

input[type="text"]::placeholder {
  color: #292929;
  font-weight: 400;
  font-size: 24px;
}

.search-local button {
  background: #da2535;
  border: none;
  border-radius: 0 1rem 1rem 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 123%;
  height: 7.2rem;
  width: 18rem;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}

button a {
  color: #fbfbfb;
}

.search-local button .search-icon {
  display: none;
}

.search-local button:hover {
  letter-spacing: 0.5rem;
}

#footer {
  margin: 100px 0px 70px 280px;
}

.logo-footer {
  margin-top: -110px;
}

.footer-texts {
  display: flex;
  gap: 150px;
  margin-top: 10px;
}

.footer-texts h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 32px;
  line-height: 123%;
  margin-bottom: 24px;
}

.footer-texts p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  letter-spacing: 0.015em;
  margin-bottom: 8px;

  color: #616161;
}

.footer-container {
  display: flex;
  gap: 130px;
}

/* MEDIAS */

@media only screen and (max-width: 767px) {
  #header {
    position: static;
  }
  #ham-menu {
    display: block;
  }
  ul li {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 20px;
    color: white;
  }
  a {
    color: white;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  nav ul {
    background-color: black;
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    gap: 0;
    z-index: 30;
    overflow: scroll;
  }
}
@media only screen and (max-width: 575px) {
  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
}

@media (max-width: 600px) {
  .hero-image img {
    display: none;
  }
}

@media (max-width: 700px) {
  body {
    margin: 0 20px 0 20px;
    overflow-x: hidden;
  }

  ul {
    display: none;
  }

  .login-btn {
    display: none;
  }

  .menu-mobile img {
    display: block;
  }

  .logo {
    width: 71px;
    height: 22px;
    margin-left: 0rem;
    margin-right: 14.5rem;
    position: sticky;
  }

  #hero {
    padding-top: 100px;
    padding-left: 0;
  }
  #hero h1 {
    width: 270px;
    height: 39px;
    font-size: 32px;
    line-height: 123%;
  }
  #hero p {
    width: 278px;
    height: 104px;
    font-size: 16px;
    line-height: 160%;
  }
  #hero button {
    font-size: 16px;
    line-height: 19px;
    width: 312px;
    height: 40px;
    left: 24px;
    top: 303px;
  }
  #recipe-dish {
    display: block;
    align-items: center;
    gap: 0px;
    margin-bottom: 100px;
    padding-top: 48px;
    padding-left: 0px;
  }

  .img-dish {
    width: 312px;
    height: 350px;
    border-radius: 8px;
  }

  .recipe-text {
    float: none;
    margin-top: 56px;
    margin-right: 0;
  }
  #recipe-dish h1 {
    width: 290px;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 24px;
  }
  #recipe-dish p {
    width: 290px;
    height: 104px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 24px;
  }
  #recipe-dish a {
    width: 262px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
  }
  .popular-dishes-text h1 {
    font-size: 24px;
    margin-top: 56px;
    margin-bottom: 80px;
  }

  img .card-dish {
    display: block;
    max-width: 100%;
  }

  .cards {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
  }

  .card {
    width: 270px;
    height: 401.29px;
    margin-bottom: 118px;
  }
  .dish-name {
    font-size: 24px;
  }

  .dish-price {
    font-size: 32px;
  }
  #reviews {
    margin-left: 0px;
  }
  .reviews-text h1 {
    align-items: center;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 40px;
    font-size: 24px;
  }

  .all-reviews {
    display: block;
    margin: -20px;
  }

  .first-review-bg,
  .second-review-bg {
    background: #f3f3f3;
    border-radius: 16px;
    margin-bottom: 28px;
  }

  .first-review,
  .second-review {
    align-items: center;
    padding: 40px 50px 50px 40px;
  }

  .img-review {
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  .first-review h2,
  .second-review h2 {
    font-size: 18px;
    margin-top: 16px;
    text-align: center;
  }

  .first-review p,
  .second-review p {
    font-size: 16px;
    width: 270px;
    margin-top: 16px;
    text-align: center;
    margin: 0;
  }

  .second-review p {
    margin-bottom: 16px;
  }

  .all-stars {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }

  #location {
    margin: 0;
  }

  #location h1 {
    font-size: 24px;
    line-height: 123%;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 24px;
  }

  #location .search-local {
    margin-left: 0px;
  }

  .location-map {
    width: 340px;
    margin-left: -10px;
    height: 230px;
    border-radius: 8px;
    margin-bottom: 56px;
  }

  .search-local {
    width: 100%;
    height: 3rem;
    display: flex;
    column-gap: 0.25rem;
    padding-left: 0.25rem;
    background: #fbfbfb;
    border-radius: 1rem;
    border: 0.1rem solid #292929;
    border-right: none;
  }

  .search-local input {
    width: 200px;
    height: 30px;
    max-width: 30rem;
    align-items: center;
    column-gap: 0.25rem;
    padding-left: 0.5rem;
    margin-bottom: 0.8rem;
  }

  .search-local button {
    height: 3.2rem;
    width: 10rem;
    padding: 15px;
  }

  .icon {
    font-size: 2rem;
    margin-left: 1rem;
  }

  button a {
    display: none;
  }

  .search-local button .search-icon {
    display: block;
    margin-inline: auto;
    color: #fbfbfb;
    font-size: 1.5rem;
  }

  input[type="text"]::placeholder {
    font-size: 12px;
  }

  #footer {
    margin: 0;
    grid-template-columns: 1fr 1fr;
  }

  .logo-footer {
    width: 94px;
    height: 29px;
    margin-top: 56px;
    margin-bottom: 20px;
  }

  .footer-container {
    display: block;
  }

  .about {
    grid-column: 1;
    margin-bottom: 56px;
  }

  .services {
    grid-column: 2;
    grid-row: 1;
  }

  .footer-texts {
    display: block;
    margin-top: 32px;
    display: grid;
    gap: 40px;
  }

  .footer-texts h2 {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .footer-texts p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
  }
}
